@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Comfortaa", cursive;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  font-family: "Mooli", sans-serif;
  background:rgb(0, 0, 0);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: clamp(1.1rem, 6vw, 1.7rem);
  text-decoration: none;
  border: 2px solid white;
  width: 12%;
  text-align: center;
  border-radius: 25px;
  height: 5vh;
  background-color: orange;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style: none;
  margin-left: 20px;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: orange;
  border-radius: 20px;
  font-size: clamp(0.9rem, 6vw, 1rem);
}

.navigation li a:hover,
.navigation li a.active {
  background: orange;
  color: rgb(248, 248, 248);
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

video {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 6.5%; 
  height: 120vh;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#title {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: clamp(2rem, 6vw, 4rem);
  color: orange;
  z-index: 50;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.238);
  border-radius: 25px;
  padding: 10px;
  width: 70%;
  height: 100px;
}

.blog {
  position: relative;
  padding: 150px 150px -40px;
  background: #000000;
  color: white;
}



.blog h2 {
  font-size: clamp(2rem, 6vw, 3rem);
  color: #ffffff;
  margin: 0px 0 20px;
  text-align: center;
}

.blog p {
  font-size: clamp(1rem, 6vw, 1.3rem);
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin: 5%;
}

.cards {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 60px 60px;
  background: #000000;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 450px);
  background-size: cover;
  box-shadow: 0 6px 30px rgba(255, 166, 0, 0.781);
  border-radius: 20px;
  padding: 30px 40px;
}

.card img {
  display: block;
  width: 100%;
  height: 250px;
  margin: 20px;
  object-fit: cover;
  border-radius: 5%;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 20px 0 20px;
  text-align: center;
  color: #ffffff;
}

.card p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(209, 202, 164, 0.9),
    rgba(197, 165, 77, 0.9),
    rgba(255, 179, 0, 0.9)
  );
  border-radius: 20px;
  list-style: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

@media (max-width: 1300px) {
  header {
    padding: 30px 50px;
  }
  
  #title {
    top: 16%;
  }
  
  .parallax {
    height: 120dvh;
  }
  
  .blog {
    padding: 100px 120px 20px;
  }
}

@media (max-width: 900px) {
  .navigation li {
    margin-left: 10px;
  }

  .parallax {
    height: 100dvh;
  }

  #title {
    top: 20%;
  }

  .blog {
    padding: 90px 100px 20px;
  }

  .cards {
    padding: 40px 40px;
  }

  .card h3 {
    margin: 20px 0 20px;
  }
}

@media (max-width: 600px) {
  .navigation li {
    margin-left: 5px;
  }
  
  header {
    padding: 30px 10px;
  }

   #title {
    top: 40%;
  }
  
   .blog {
    padding: 90px 40px 20px;
  }
  
  .blog p {
    font-size: 1rem;
  }
  
  .card {
      width: min(100%, 450px);
  }
  
  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.85rem;
    text-align: unset;
  }
}